body {
  padding-top: 80px;
  padding-bottom: 80px;
}

#technologies {
  text-align: center;
}

#technologies img {
  display: inline;
  height: 150px;
  opacity: 0.4;
}

#technologies img:hover {
  opacity: 1;
}

#technologies li {
  display: inline;
  list-style: none;
}

.panel-title {
  font-size: 25px;
}

.panel-body {
  height: 435px;
}

.project-description {
  height: 185px;
}

.panel-body ul {
  list-style: none;
}

.footer img{
  width: 40px;
  height: 40px;
}

code {
  display: block;
  margin: 5px 0;
}

