html {
  width: 1200px;
  margin: 0 auto;
}

body {
  margin: 10px auto;
  width: 100%;
}



h1 {
  background-color: blue;
  border: 2px solid blue;
  color: white;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}

h4 {
  background-color: black;
  border: 2px solid black: ;
  color: white;
  margin-right: 108px;
  padding: 10px;
  float: right;
  width: 15%;
  text-align: center;

}
section {
  font-family: "Arial", Georgia, Serif;
  border: 1px solid black;
  clear: right;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}

p {
  padding: 10px;
}