html {
  background-color: #5B85D9;
  height: 100%;
  margin: 0 auto;
  width: 1500px;
}

body {
  margin: 0 auto;
  width: 90%;
}

header {
  height: 150px;
  margin: 20px auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
#header-logo {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 35px;
  float: left;
  height: 130px;
  margin: 0 auto;
  width: 25%;
}

#header-logo h1, h2 {
  color: #5B85D9;
  padding-top: 7px;
  text-align: center;
  vertical-align: middle;
}

nav {
  border: 2px solid #F2F2F2;
  border-radius: 13px;
  float: right;
  position: relative;
  text-align: center;
  top: 19px;
  width: 70%;
}

nav ul {
  padding: 20px;
}

nav li {
  display: inline;
  padding: 5px 20px;
}

nav li a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  width: 12%;
}

.button {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
}

main {
  clear: both;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
}

main h1 {
  font-size: 50px;
}

main h2 {
  color: black;
  text-align: left;
}

main h3 {
  font-size: 100px;
  margin: 50px auto 10px auto;
  text-align: center;
}

main h4 {
  font-size: 33px;
  margin: 0 auto;
  text-align: center;
}

main h5 {
  font-size: 25px;
  margin: 10px 0;
}

#tech_icons {
  padding: 100px;
  text-align: center;
}

.html_js_css {
  height: auto;
  width: 14%;
}

.ruby {
  height: auto;
  width: 7%;
}

main p, li {
  font-size: 20px;
}

main a {
  color: #48D1CC;
  text-decoration: none;
}

main a:visited {
  color: #D99B77;
}

main a:hover {
  color: #F2F2F2;
}
main code {
  background: #F2F2F2;
  display: block;
  font-size: 15px;
  padding: 10px;
}
#blog {
  padding-bottom: 100px;
}
#blog h1 {
  font-size: 50px;
}

#blog a {
  color: #FF0000;
  font-size: 20px;
  text-decoration: none;
}

#blog a:visited {
  color: #D99B77;
}

#blog a:hover {
  color: #F2F2F2;
}

section {
  margin-bottom: 50px;
}
footer {
  bottom: 0;
  height: 55px;
  position: relative;
  width: 100%;
}
#social-media {
  background-color: #F2F2F2;
  border-radius: 15px;
  display: inline-block;
  padding: 5px 35px 0 35px;
  position: absolute;
  right: 0;
  text-align: center;
}

#social-media a img {
  height: 25px;
  padding: 0 10px;
  width: auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;